/* FONTS */
@font-face {
  font-family: 'mont';
  src: url('assets/myfont.otf') format('otf');
  font-family: 'bigjohn';
  src: url('assets/BIG-JOHN.otf') format('otf');
  font-family: 'HelveticaNeue';
  src: url('assets/HelveticaNeueUltraLight.ttf') format('ttf'),
}

/* MENU */
.navbar.menu{
  position: fixed;
  z-index: 3;
  margin-top: 5px;
}
.navbar.menu > a{
  margin-left: 20px;
}
.transparent{
    background-color: rgba(0,0,0,0.0);
}
nav > a{
  font-family: bigjohn;
  color: #b2b2b2;
  opacity: .6;
  font-size: 80px;
  padding-top: 20px;
}
ul.settings{
float: right;
display: flex;
position: fixed;
/* ; */
right: 0px;
width: 40%;
text-align: center;
}

ul.settings > li{
  font-weight: 500;
  font-size: 20px;
}
/* BODY */

.time-sets{
position: relative;
display: flex;
flex-flow: column;
height: 80%;
top: 150px;

text-align: center;
align-content: center;
}

.time-sets > span > p{
position: relative;
font-family: HelveticaNeue;
font-size: 24px;
font-weight: bold;
color: gray;
display: block;
  vertical-align: middle;
  margin: auto;

}
.time-sets > span{
vertical-align: middle;
text-align: center;
background: white;
align-content: center;
border: #1f284e solid 7px;
border-radius: 100%;
display: block;
position: relative;
width: 70px;
height: 70px;
margin: auto;
}

#timeBar{
  display: block;
  position: fixed;
  width: 7px;
  height: 75%;
  z-index: -1;
  bottom: 0;
  background: #1f284e;
  align-self: center;
}

.main > .row{
position: relative;
height: 100vh;
}

.time{
position: relative;
display: table-cell;
vertical-align:middle;
margin-top: 200px;
}

.subject{
  width: 601px;
height: 60px;
margin: 0px;
display: inline;
padding: 0px;
font-size: 51px;
text-align: center;
color: #b2b2b2;
}


.image{
  background-image: url('assets/mountains-bg.svg');
  background-repeat: no-repeat;
background-size: contain;
    background-position: right top;
  right: 0;
  margin: 0px;
  overflow: hidden;
  z-index: -1;
  height: 90%;
  width: 10px;

}

.clock{
 font-family: mont;
 font-size: 267px;
 text-align: center;
 color: #2a2a2b;
}

.time > p{
display: block;
margin: auto;
padding: -10;
vertical-align:middle;
}

.time > p.subject{
line-height: 70%;
margin-top: -100px;
font-weight: lighter;
}
/* FOOTER */
.footer > div > span{
 font-family: HelveticaNeue;
 font-size: 21px;
 font-style: normal;
 text-align: center;
 color: #e8ebfc;
}

.footer > div {
border: none;
height: 30px;
padding: 15px;
background-color: #1f284e;
text-align: center;
padding-top: 5px;
padding-bottom: 35px;
bottom: 0;
position:fixed;
width: 100%;
}
