@import "fonts";
.time-sets{
position: relative;
display: flex;
flex-flow: column;
height: 80%;
top: 150px;
text-align: center;
align-content: center;
}

.time-sets > span > p{
position: relative;
font-family: HelveticaNeue;
font-size: 24px;
font-weight: bold;
color: gray;
display: block;
  vertical-align: middle;
  margin: auto;

}

.clock{
 font-family: mont;
 font-size: 267px;
 text-align: center;
 color: #2a2a2b;
}


.time-sets > span{
vertical-align: middle;
text-align: center;
background: white;
align-content: center;
border: @dark-primary solid 7px;
border-radius: 100%;
display: block;
position: relative;
width: 70px;
height: 70px;
margin: auto;
}

.time > p{
display: block;
margin: auto;
padding: -10;
vertical-align:middle;
}

.time > p.subject{
line-height: 70%;
margin-top: -100px;
font-weight: lighter;
}

.subject{
  width: 601px;
height: 60px;
margin: 0px;
display: inline;
padding: 0px;
font-size: 51px;
text-align: center;
color: #b2b2b2;
}



.main > .row{
position: relative;
height: 100vh;
}

.time{
position: relative;
display: table-cell;
vertical-align:middle;
margin-top: 200px;
}
