
.time-circles:hover ~   #timeBar {
  height: 75%;
}

.time-bar{
  display: block;
  position: fixed;
  width: 7px;
  height: 0%;
  z-index: -1;
  transition: 2.5s;
  bottom: 0;
  background: gray;
  align-self: center;
}
#timeBarBg{
  height: 75%;
  background: gray;
}
#timeBar{
  height: 0%;
  background: @dark-primary;
}

.time-sets{
position: relative;
display: flex;
flex-flow: column;
height: 80%;
top: 150px;
text-align: center;
align-content: center;
}

.time-sets > span > p{
position: relative;
font-family: HelveticaNeue;
font-size: 24px;
color: gray;
display: block;
vertical-align: middle;
margin: auto;
margin-top: 7px;

}
